body{
    background-color: rgb(14, 11, 11);
}
a{
    margin: 0 auto;
    width: 300px;
    border: 1px solid chocolate;
    display: flex;
    justify-content: center;
    font-size: 40px;
    border-radius: 80px;
    margin-bottom: 50px;
    text-decoration: none;
    color: aliceblue;    
}

h1{
    text-align: center;
    font-size: 50px;
    color:chocolate;
}
h2{
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}
p{
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

h3{
    margin-left: 10px;
    color: chocolate;
    border: 1px solid chocolate;
    text-align: center;
    border-radius: 50% 50% 50% 50%;
}
img{
    height: 40px;
}
.logo{
    margin: 5px;
    width: 200px;
    border-radius: 20px;
    padding: 5px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.307);
}
label{
    color: aliceblue;
}
.form{
    margin: 0 auto;
    width: 700px;
    border: 1px solid chocolate;
    display: flex;
    justify-content: center;
}
input{
    height: 30px;
    display: block;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: brown;
    color: aliceblue;
}

h4{
    color: aliceblue;
}